@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
:root {
  --main-bg-color: #1b1821;
  --dark-font-color:#b71f4a;
  --mid-font-color:#d43664;
  --light-font-color:#f398b0;
  --font-color: white;
}
@keyframes colors {
  0% {
    color:rgb(241, 241, 193);
  }
  25%{
    color:rgb(235, 213, 172);
  }
  50%{
    color:rgb(240, 158, 158);
  }
  75%{
    color: rgb(230, 122, 230);
  }
  100%{
    color:rgb(135, 135, 236);
  }
}
ul {
  width: 100%;
  padding: 20px 0px 20px;
  list-style: none;
  background-color: transparent;
  /* background-color: var(--main-bg-color, transparent); */
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 2px solid #d43664; */
}

ul li {
  font-size: 20px;
  /* margin: 0 3%; */
  text-shadow: 1px 1px 2px var(--mid-font-color), 0 0 25px var(--light-font-color), 0 0 5px var(--dark-font-color);
  font-family: 'Permanent Marker', cursive;
}
#nav-left, #nav-right {
  display:flex;
  flex-direction: row;
  width:40%;
  justify-content: space-around;
}
#nav-left input {
  background-color: transparent;
  width:50px;
  height:35px;
  border: 2px solid var(--dark-font-color);
  background-color: var(--main-bg-color);
  color: var(--light-font-color);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  border-radius: 50%;
  transition: width .75s ease-in-out, border-radius .5s ease-in-out;
}
#nav-left input:focus {
  width:485px;
  border-radius: 2px;
}
#nav-left li {
  font-size: 40px;
  padding-left:10px;
  padding-right:10px;
}
#nav-left li:hover {
  animation: colors 1s infinite;
}
