@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
:root {
  --main-bg-color: #1b1821;
  --test-font-color: white;
}
ul {
  width: 100%;
  padding: 15px 0px 15px;
  list-style: none;
  background-color: var(--main-bg-color);
  color: var(--test-font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid #d43664;
}
ul li {
  font-size: 30px;
  /* margin: 0 3%; */
  text-shadow: 1px 1px 2px #d43664, 0 0 25px #f398b0, 0 0 5px #b71f4a;
  font-family: 'Permanent Marker', cursive;
}
