@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
:root {
  --main-bg-color: #1b1821;
  --dark-font-color:#b71f4a;
  --mid-font-color:#d43664;
  --light-font-color:#f398b0;
  --font-color: white;
}
ul {
  width: 100%;
  padding: 20px 0px 20px;
  list-style: none;
  background-color: transparent;
  /* background-color: var(--main-bg-color, transparent); */
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 2px solid #d43664; */
}

ul li {
  font-size: 20px;
  /* margin: 0 3%; */
  text-shadow: 1px 1px 2px var(--mid-font-color), 0 0 25px var(--light-font-color), 0 0 5px var(--dark-font-color);
  font-family: 'Permanent Marker', cursive;
}
#nav-left, #nav-right {
  display:flex;
  flex-direction: row;
  width:30%;
  justify-content: space-around;
}
#nav-left input {
  background-color: transparent;
  width:80%;
  height:35px;
}
